<%= form_for @show, remote: true, html: { style: "display:inline;", multipart: true } do |f| %>
<div class="modal-body">
    <ul class="errors"></ul>

    <div class="form-group">
        <%= f.label :title, class:"control-label" %>
        <%= f.text_field :title, class: "form-control", required: true %>
    </div>
    <div class="form-group">
        <%= f.label :plot, class: "control-label" %>
        <%= f.text_area :plot, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= f.label :poster, "Poster", class: "control-label" %>
      <i>(Max. size : 4MB)</i>
        <% if @show.poster.file? %>
        <div class="form-current-poster">
          <%= image_tag @show.poster.url(:tiny) %>
          <div id="aside-poster-form">
            <p>Current poster</p>
          </div>
        </div>
        <% else %>
        <p>No poster yet... :(</p>
        <% end %>
        <%= f.file_field :poster, class: "form-control" %>
    </div>
</div>
<div class="modal-footer">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
</div>
<% end %>
</div>
</div>
