<div id="show-notice">
    <%= @show_notice %>
</div>
<h1>My Shows</h1>
<hr class="small-hr">

<div class="my-shows">
    <% @my_shows.each do |my_show| %>
    <div class="show-container">
        <div id="poster">
            <% if my_show.poster.file? %>
            <%= image_tag my_show.poster.url(:thumb) %>
            <% else %>
            <%= image_tag "https://s3-eu-west-1.amazonaws.com/tvshowsonrails/no-poster-small.png" %>
            <% end %>
        </div>
        <div id="show-btns">
            <div id="small-btns">
              <%= link_to edit_show_path(my_show), remote: true do %>
              <%= image_tag "edit.svg", class: "small-btn" %>
              <% end %>
              <%= link_to show_delete_path(my_show), remote: true do %>
              <%= image_tag "delete.svg", class: "small-btn" %>
              <% end %>
            </div>
            <%= link_to "Learn more", show_path(my_show), class: "btn btn-lg btn-success btn-more" %>
        </div>
    </div>
    <% end %>
</div>

<h1>Other Shows</h1>
<hr class="small-hr">

<div class="other_shows">
    <% @other_shows.each do |other_show| %>
    <div class="show-container">
        <div id="poster">
          <% if other_show.poster.file? %>
          <%= image_tag other_show.poster.url(:thumb) %>
          <% else %>
          <%= image_tag "https://s3-eu-west-1.amazonaws.com/tvshowsonrails/no-poster-small.png" %>
          <% end %>
        </div>
        <div id="show-btns">
            <div id="small-btns">
              <%= link_to show_add_path(other_show), remote: true do %>
              <%= image_tag "add.svg", class: "small-btn" %>
              <% end %>
            </div>
            <%= link_to "Learn more", show_path(other_show), class: "btn btn-lg btn-success btn-more" %>
        </div>
    </div>
    <% end %>
</div>
